.html, body, textarea {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #efefef;
    background-image: url("img/logoGray.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;
}

#logo img {
    width: 65px;
    margin-top: 30px;
    margin-left: 35px;
}

p {
    color: white;
    font-size: 25px;
}

button {
    color: white;
    background-color: #358cc6;
}

.leftBar {
    padding-left: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 175px;
    height: 100%;
    background-color: #0093dd;
    z-index: 999
    /*border: 1px solid black;*/
}

.topBar {
    padding-top: 10px;
    width: 100%;
    position: fixed;
    /*float: right;*/
    margin-left: 200px;
    top: 0;
    background-color: #1fbba6;
    z-index: 999;
    height: 130px;
    /*border: 1px solid black;*/
}

.mask {
    position: fixed;
    top: 140px;
    left: 200px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.mask p {
    position: fixed;
    margin-top: 30%;
    width: 100%;
    /*margin-left: 30%;*/
    font-size: 45px;
    color: white;
    text-align: center;
    /*vertical-align: middle;*/
}

#file {
    margin-top: 20px;
    /*background-color: #179f8d;*/
}

.content {
    width: 1400px;
    margin: 0 auto 0 0;
    position: relative;
    height: 100%;
    display: flex;
}

#category {
    margin-left: 20px;
    width: 10%;
    height: 100%;
    margin-right: 50px;
}

.category {
    width: 150px;
    height: 110px;
    color: white;
    font-size: 15px;
    background-color: #179f8d;
    text-align: center;
}

#toolsBar {
    width: 100px;
    height: 110px;
    color: white;
    font-size: 15px;
    background-color: #179f8d;
    text-align: center;
}

.newCateInput {
    color: white;
    font-size: 14px;
    background-color: #179f8d;
    width: 80px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    /*color: #fff;*/
}

#markDiv {
    margin-top: 15px;
    width: 150px;
    height: 80%;
    margin-right: 100px;
}

#markDiv p {
    font-size: 15px;
    opacity: 0.9;
}

#storeDiv {
    height: 100%;
	margin-right: 25px;
	margin-left: 15px;
}
.saveBtn {
	margin-bottom: 10px;

}

.saveBtn,.clearBtn, i {
	font-size: 20px;
	color: #fff;
	margin-right: 5px;
}
.saveBtn a {
	background-color: #0093dd;
}
.saveBtn a:hover {
	background-color: #19a8f1;
}

.clearBtn a {
	background-color: #f56c6c;
}
.clearBtn a:hover {
	background-color: #f18585;
}
.custom {
	margin-left: 10px;
}
.custom p {
	margin-top: 0;
}
.adjust {
	font-size: 15px;
}
#resultDiv {
    height: 100%;
    margin-right: 10px;
}

#resultArea {
    width: 400px;
    height: 80%;
    background-color: #179f8d;
    font-size: 13px;
    color: white;
}

.newCanvas {
    left: 200px;
    position: absolute;
    top: 140px;
    z-index: 1
}

.undo {
    margin: 80px 10px 0 10px;
}

#undo {
    font-size: 15px;
}

#mark {
    position: relative;
    width: 450px;
    height: 70px;
    overflow: scroll;
    background-color: #179f8d;
    color: white;
    font-size: 13px;
}

#store {
    margin-left: 40px;
    position: relative;
    width: 450px;
    height: 70px;
    overflow: scroll;
    white-space: nowrap;
    color: white;
    font-size: 12px;
    background-color: #179f8d;
}

#start {
    margin-left: 50px;
}

#clearAll {
    margin-left: 200px;
}

.mousePosition {
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 50px;
    background-color: rgba(248, 212, 13, 0.5);
    color: white;
    /*padding-left: 10px;*/
}

#preview {
    position: absolute;
    left: 200px;
    top: 140px;
}

#myCanvas {
    left: 200px;
    /*width: 3000px;*/
    /*height: 2500px;*/
    position: absolute;
    top: 140px;
    z-index: 100
}

#fileListInput {
    position: relative;
    border: none;
    width: 150px;
    height: 350px;
    overflow: scroll;
    color: white;
    background-color: #057fbc;
}

textarea::-webkit-input-placeholder {
    color: #88cef1;
}

#fileList select {
    position: relative;
    color: white;
    width: 150px;
    height: 350px;
    overflow: scroll;
    display: none;
    background-color: #358cc6;
}

#fileList option {
    height: 25px;
    padding-top: 10px;
    font-size: 13px;
    /*vertical-align: middle;*/
    /*text-align: center;*/
    border: 0.5px solid rgba(200, 200, 200, 0.5);
}

#preImg {}

.btDisabled {
    cursor: not-allowed;
    pointer-events: none;
}

#nextImg {}

#genFileList {
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 5px;
}

#auto {
    margin-left: 50px;
    color: white;
    background-color: red;
}

.checkboxThree p {
    margin-top: 24px;
    font-size: 15px;
    width: 150px;
    margin-left: 14px;
}

.point {
    /*border-radius: 50px;*/
    position: absolute;
    width: 35px;
    height: 35px;
    display: none;
}

.rectangle {
    border-radius: 0px;
    position: absolute;
    width: 10px;
    height: 10px;
    border: rgba(14, 255, 7, 1) 3px solid;
    /*display: none;*/
}

.listEven {
    background-color: red;
}

.listOdd {
    background-color: green;
}

.dow {
    display: block;
    width: 102px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 2px;
    font-family: FZYY;
    font-size: 14px;
    background: #e9c814;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.7s;
    -moz-transition: background-color 0.7s;
    /* Firefox 4 */
    -webkit-transition: background-color 0.7s;
    /* Safari and Chrome */
    -o-transition: background-color 0.7s;
    /* Opera */
}

.dowLit {
    display: inline-block;
    width: 73px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    vertical-align: bottom;
    margin-top: 5px;
    border-radius: 4px;
    font-family: FZYY;
    font-size: 12px;
    background: #1fbba6;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.7s;
    -moz-transition: background-color 0.7s;
    /* Firefox 4 */
    -webkit-transition: background-color 0.7s;
    /* Safari and Chrome */
    -o-transition: background-color 0.7s;
    /* Opera */
}

.dowLit2 {
    display: inline-block;
    width: 115px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    vertical-align: bottom;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 4px;
    font-family: FZYY;
    font-size: 15px;
    background: #e9c814;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.7s;
    -moz-transition: background-color 0.7s;
    /* Firefox 4 */
    -webkit-transition: background-color 0.7s;
    /* Safari and Chrome */
    -o-transition: background-color 0.7s;
    /* Opera */
}

.dowSLit {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    vertical-align: bottom;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 2px;
    font-family: FZYY;
    font-size: 15px;
    /* background: #e9c814; */
    /* color: #fff; */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.7s;
    -moz-transition: background-color 0.7s;
    /* Firefox 4 */
    -webkit-transition: background-color 0.7s;
    /* Safari and Chrome */
    -o-transition: background-color 0.7s;
    /* Opera */
}

.dow:hover,
.dowLit:hover,
.dowLit2:hover,
.dowSLit:hover {
    background: #fbd91f;
}

.dow:active,
.dowLit:active,
.dowSLit:active,
.dowLit2:active {
    background: #0d79d5;
}

input[type=checkbox] {
    visibility: hidden;
}

.checkboxThree {
    width: 120px;
    height: 40px;
    background: #333;
    margin: 20px 25px;
    border-radius: 50px;
    position: relative;
    margin-left: 15px;
}

.checkboxThree:before {
    content: 'On';
    position: absolute;
    top: 12px;
    left: 13px;
    height: 2px;
    color: #1fbba6;
    font-size: 16px;
}

.checkboxThree:after {
    content: 'Off';
    position: absolute;
    top: 12px;
    left: 84px;
    height: 2px;
    color: #ddd;
    font-size: 16px;
}

.checkboxThree label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #ddd;
}

.checkboxThree input[type=checkbox]:checked+label {
    left: 60px;
    background: #1fbba6;
}
